:root {
	--active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
	--input-error: hsl(0, 100%, 66%);
	--white: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
	--font-size: 18px;
	--font-family: 'Space Grotesk', sans-serif;
}

* {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	min-width: 375px;
	max-width: 1440px;
	height: 100vh;
	display: grid;
	grid-template-rows: 27% 1fr;
}

.cards-container {
	width: 100vw;
	background-image: url(/assets/images/bg-main-mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.card-size {
	width: 70%;
	height: 150px;
}

.backcard-container {
	background-image: url(/assets/images/bg-card-back.png);
	background-repeat: no-repeat ;
	background-size: cover;
	position: relative;
	top: 30px;
	left: 25%;
}

.backcard-container > span {
	position: absolute;
	top: calc(45% - 5px);
	right: 30px;
	color: var(--white);
}

.frontcard-container {
	background-image: url(/assets/images/bg-card-front.png);
	background-repeat: no-repeat ;
	background-size: cover;
	position: relative;
	top: -35px;
	left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--white);
}

.frontcard-container img {
	margin: 10px 0 0 20px;
	height: 35px;
	width: 60px;
}

.frontcard-container > span {
	margin-left: 20px;
}

.below-frontcard-info {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 20px;
}

.form-container {
	margin-top: 15%;
}

.form-container form {
	width: 90%;
	padding: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.label {
	margin-top: 20px;
	color: var(--very-dark-violet);
	font-weight: bold;
}

.expiration-cvc-container {
	margin-top: 20px;
}

input {
	margin-top: 10px;
	border: 1px solid var(--light-grayish-violet);
	border-radius: 5px;
	height: 35px;
}

input::placeholder {
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: var(--dark-grayish-violet);
}

.expiration-cvc-inputs input{
	width: 20%;
}

.expiration-cvc-inputs input::placeholder{
	padding: 0;
	text-align: center;
}

#cvc-input {
	margin-left: 10px;
	width: calc(50% + 14px);
}

button {
	margin-top: 40px;
	height: 50px;
	font-size: var(--font-size);
	background-color: var(--very-dark-violet);
	border: none;
	border-radius: 8px;
	color: var(--white);
}